<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>

    <%- include('./partials/header') %>

      <main>
        <!-- <h1>Bienvenido a 7ECNOSHOP</h1> -->
        <div class="main-conteiner">
          <section>
            <div class="main-header">
              <span class="fa-solid fa-circle-chevron-left" id="icon-left"></span>
              <span class="fa-solid fa-circle-chevron-right" id="icon-right"></span>
            </div>
          </section>
          <section>
            <h2><a href="/producto" class="link-productos">Ver catalago completo</a></h2>
          </section>
          <section class="main-footer" onclick="irProducto">
            <% for( let i=0; i < productos.length; i++ ) { %>
              <div class="product">
                <a href="/producto/detalle/<%= productos[i].id_product %>">
                  <img src="/images/celulares/<%= productos[i].image %>" alt="<%= productos[i].name %>"
                    class="smartphone" />
                  <h2 class="tittle-for-product">
                    <%= productos[i].name %>
                  </h2>
                  <p>$<%= productos[i].price %>
                  </p>
                </a>
              </div>
              <% } %>
          </section>
        </div>
      </main>

      <%- include('./partials/footer') %>

  </body>

  </html>