<%- include('./partials/head') %>
  <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>

    <%- include('./partials/header') %>

      <main>
        <!-- <h1>Bienvenido a 7ECNOSHOP</h1> -->
        <div class="main-conteiner">
          <section>
            <div class="main-header">
              <span class="fa-solid fa-circle-chevron-left" id="icon-left"></span>
              <span class="fa-solid fa-circle-chevron-right" id="icon-right"></span>
            </div>
          </section>
          <section class="conteiner-filter">
            <h3>Filtre su busqueda</h3>
            <label for="order" class="label-order">
              <select name="order" id="order">
                <option value disabled selected>Elige el orden</option>
                <option value="higher-price">Mayor precio</option>
                <option value="lower-price">Menor precio</option>
                <option value="on-sale">En ofertas</option>
                <option value="latest">Recientes</option>
              </select>
            </label>
            <label for="range-price" class="label-range">
              Rango de precio
              <input type="range" />
            </label>
          </section>
          <section class="main-footer" onclick="irProducto">
            <% for( let i = 0; i < productos.length; i++ ) { %>
              <div class="product">
                <a href="/producto/detalle/<%= productos[i].id %>">
                  <img src="/images/celulares/<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>"
                  class="smartphone"/>
                  <h2 class="tittle-for-product"><%= productos[i].nombre %></h2>
                  <p>$<%= productos[i].precio %></p>
                </a>
              </div>
          <% } %>
          </section>
        </div>
      </main>

      <%- include('./partials/footer') %>

  </body>

  </html>