<%- include('./partials/head') %>
  <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>

    <%- include('./partials/header') %>

      <main>
        <section>

          <form action="/usuario/login" method="post" class="contenedor-main">
            <div>
              <h2>Iniciar sesion</h2>
            </div>
            <div class="formulario">
              <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%=locals.old ? old.email : null %>" />
              </div>
              <div class="errores" id="emailError"></div>
              <div>
                <label for="password">Contrase単a</label>
                <input type="password" name="password" id="password" />
              </div>
              <div class="btnCheck">
                <input type="checkbox" name="passwordRemember" id="passwordRemember" />
                <label for="passwordRemember">Recordar Contrase単a</label>
                <div class="errores" id="passwordError"></div>
                <% if (locals.errors) { errors.forEach(error=> { %>
                  <div>
                    <p class="mensajeError">
                      <%= error.msg%>
                    </p>
                  </div>
                  <%}) }%>
              </div>
            </div>

            <button class="boton-IniSesion">Iniciar Sesion</button>
            <div class="links-conteiner-main">
              <p><a href="/usuario/password">Olvidaste tu Contrase単a</a></p>
              <p><a href="/usuario/registro">多Todavia no tiene cuenta?</a></p>
            </div>
          </form>
        </section>
      </main>

      <%- include('./partials/footer') %>
        <script src="/js/userLogin1.js"></script>
  </body>

  </html>