<%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/productDetail.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="grande">
                    <article class="cajagrande1">
                        <div class="caja">
                            <h1>
                                <%= producto.name %>
                            </h1>
                            <h3>Precio: <br>$<%= producto.price%>
                            </h3>
                            <div class="desplegable">
                                <select name="forma" id="forma">
                                    <option disabled selected="formas de pago">Formas de Pago</option>
                                    <option value="tarjeta de credito">Tarjeta de credito</option>
                                    <option value="tarjeta de debi4to">Tarjeta de debito</option>
                                    <option value="efectivo">Efectivo</option>
                                    <option value="billetera virtual">Billetera virtual</option>
                                </select>
                            </div>
                        </div>
                        <img class="img0" src="/images/celulares/<%= producto.image%>" alt="Celular Samsung Cobre">
                    </article>
                    <!--Perspectivas y datos-->
                    <article class="cajagrande2">
                        <div class="caja2-main">
                            <h2>Mas perspectivas:</h2>
                            <div class="img1">
                                <img class="mas" src="/images/celulares/<%= producto.imagen2%>"
                                    alt="Celular Samsung Cobre perfil">
                                <img class="mas" src="/images/celulares/<%= producto.imagen3%>"
                                    alt="Celular Samsung Cobre espalda">
                            </div>
                        </div>
                        <section>
                            <div class="color">
                                <h2>Seleccion de colores</h2>
                                <div class="form-group">
                                    <input type="radio" name="color" id="azul">
                                    <label for="azul">Negro</label>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="color" id="blanco">
                                    <label for="blanco">Blanco</label>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="color" id="cobre" checked>
                                    <label for="cobre">Cobre</label>
                                </div>
                                <div class="form-group">
                                    <input type="radio" name="color" id="verde">
                                    <label for="verde">Verde</label>
                                </div>
                            </div>
                            <div class="botones">
                                <button class="comprar">
                                    <h3>Comprar</h3>
                                </button>
                                <button class="añadir">
                                    <h3>Añadir al carrito</h3>
                                    <i class="fa-solid fa-cart-plus"></i>
                                </button>
                            </div>
                        </section>
                    </article>
                </div>
                <div class="carteluser">
                    <p class="informacionCartel">Administrar</p>
                    <div class="botones2">
                        <a href="/producto/editar/<%= producto.id_product %>" class="botonuser">Editar Producto</a>
                        <form action="/producto/delete/<%= producto.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="botonuser">Eliminar</button>
                        </form>
                    </div>
                </div>
                <!--Informacion-->
                <div class="informacion-main">
                    <h2>Informacion del producto</h2>
                    <p>
                        <%= producto.descripcion%>
                    </p>
                </div>
                <!--Productos destacados-->
                <section class="productosDestacados">
                    <h2>Productos destacados</h2>
                    <div class="caja3-main">
                        <div class="flecha">
                            <i class="fa-solid fa-chevron-left"></i>
                        </div>
                        <div class="card-list-products">
                            <% if (otrosProductos) { %>
                                <% for( let i=0; i < otrosProductos.length; i++ ) { %>
                                <a href="/producto/detalle/<%= otrosProductos[i].id %>">
                                <div class="card">
                                    <img class="img2" src="/images/celulares/<%= otrosProductos[i].imagen%>"
                                        alt="<%= otrosProductos[i].nombre %>">
                                    <div class="cardPrice">
                                        <h3><%= otrosProductos[i].nombre %>
                                        </h3>
                                        <p class="p">$<%= otrosProductos[i].price %>
                                        </p>
                                    </div>
                                </div>
                                </a>
                                <% } %>
                            <% } %>
                            
                        </div>
                        <div class="flecha">
                            <i class="fa-solid fa-chevron-right"></i>
                        </div>
                    </div>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>
    </html>