<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productEdition.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="formulario">
                    <h1 class>Editar producto</h1>
                    <form action="/producto/editar/<%= oldProduct.id_product %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class>
                            <label for="name">Nuevo nombre del producto:</label>
                            <input type="text" id="name" name="name"
                                value="<%=locals.old ? old.name : oldProduct.name %>">
                                <div class="Error" id="nameError"></div>

                        </div class>

                        <div class>
                            <label for="description">Nueva Descripción:</label>
                            <input type="text" id="description" name="description"
                                value="<%=locals.old ? old.description : oldProduct.description %>"></i>
                                <div class="Error" id="descriptionError"></div>
                        </div>

                        <div class>
                            <label for="image">Nuevas Imagenes:</label>
                            <input type="file" id="image" name="image" accept=".jpg, .png">
                            <div class="Error" id="imageError"></div>
                        </div>

                        <div class>
                            <label for="category">Categoría a cambiar:</label>
                            <select id="category" name="category">
                                <option value disabled selected="formas de pago">Seleccionar nueva categoria</option>
                                <option value="1">Celulares</option>
                                <option value="2">Accesorios</option>
                            </select>
                        </div>

                        <div class>
                            <label for="colors">Nuevos Colores:</label>
                            <input type="text" id="colors" name="color"
                                value="<%=locals.old ? old.color : oldProduct.color_id%>">
                        </div>

                        <div class>
                            <label for="price">Nuevo Precio:</label>
                            <input type="text" id="price" name="price" min="0" step=".01"
                                value="<%=locals.old ? old.price : oldProduct.price%>">
                        </div>

                        <button type="submit">Confirmar edicion de producto</button>

                    </form>
                </div>
            </main>

            <script src="/js/creationEdition.js"></script>

    </body>

    </html>