<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productEdition.css">
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="formulario">
                    <h1 class>Editar producto</h1>
                    <form action="/producto/editar/<%= oldProduct.id_product %>?_method=PUT" method="POST"
                        enctype="multipart/form-data">
                        <div class>
                            <label for="newName">Nuevo nombre del producto:</label>
                            <input type="text" id="newName" name="newName"
                                value="<%=locals.old ? old.newName : oldProduct.name %>">

                        </div class>

                        <div class>
                            <label for="NewDescription">Nueva Descripción:</label>
                            <input type="text" id="NewDescription" name="newDescription"
                                value="<%=locals.old ? old.newDescription : oldProduct.description %>"></i>
                        </div>

                        <div class>
                            <label for="newImage">Nuevas Imagenes:</label>
                            <input type="file" id="newImage" name="newImage" accept=".jpg, .png">
                        </div>

                        <div class>
                            <label for="category">Categoría a cambiar:</label>
                            <select id="category" name="category">
                                <option value disabled selected="formas de pago">Seleccionar nueva categoria</option>
                                <option value="1">Celulares</option>
                                <option value="2">Accesorios</option>
                            </select>
                        </div>

                        <div class>
                            <label for="colors">Nuevos Colores:</label>
                            <input type="text" id="colors" name="color"
                                value="<%=locals.old ? old.color : oldProduct.color_id%>">
                        </div>

                        <div class>
                            <label for="price">Nuevo Precio:</label>
                            <input type="text" id="price" name="price" min="0" step=".01"
                                value="<%=locals.old ? old.price : oldProduct.price%>">
                        </div>

                        <button type="submit">Confirmar edicion de producto</button>

                    </form>
                </div>
            </main>


    </body>

    </html>