<%- include('./partials/head') %>>

    <link rel="stylesheet" href="css/productCart.css">
    </head>
    <ul>
        <% productos.forEach(producto => { %>
          <li>
            <h2><%= producto.nombre %></h2>
            <p><%= producto.descripcion %></p>
            <p>Precio: $<%= producto.precio %></p>
          </li>
        <% }) %>
      </ul>
      

    <body>

        <%- include('./partials/header') %>

            <main>
                <section>
                    <h2>Resumen de Compra</h2>

                    <div class="product">
                        <img src="/images/celulares/samsung/samsun-galaxy-a04e-cobre-frente.png"
                            alt="Celular Samsung Cobre">
                        <div>
                            <h3>Celular Samsung</h3>
                            <p>Precio: $69999</p>
                            <input type="number" min="0" value="1">
                            <button>Eliminar</button>
                        </div>
                    </div>

                    <div class="product">
                        <img src="/images/celulares/xiaomi/Xiaomi-redmi-note-11-frente-negro.png"
                            alt="Celular Xiaomi note 11">
                        <div>
                            <h3>Celular Xiaomi</h3>
                            <p>Precio: $85999</p>
                            <input type="number" min="0" value="1">
                            <button>Eliminar</button>
                        </div>
                    </div>

                    <div class="product">
                        <img src="/images/producto-para-celulares/PureGear-Cargador-Inálambrico-Magnético-uso.webp"
                            alt="Cargador Inalambrico Magnetico">
                        <div>
                            <h3>Cargador Inalambrico</h3>
                            <p>Precio: $5000</p>
                            <input type="number" min="0" value="1">
                            <button>Eliminar</button>
                        </div>
                    </div>

                    <div class="product">
                        <img src="/images/producto-para-celulares/funda-Samsung-Galaxy-A04.webp"
                            alt="Funda Samsung Galaxi A04">
                        <div>
                            <h3>Funda Samsung</h3>
                            <p>Precio: $1999</p>
                            <input type="number" min="0" value="1">
                            <button>Eliminar</button>
                        </div>
                    </div>

                    <div class="total">
                        <p>Total: $240999</p>
                        <button>Realizar Pago</button>
                    </div>
                </section>
            </main>

            <%- include('./partials/footer') %>

    </body>

    </html>