<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productos.css" />
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <section class="conteiner-filter">
                    <h3>Filtre su busqueda</h3>
                    <form action="" >
                        <label for="order" class="label-order">
                            <select name="order" id="order"  onclick="filter('<%= JSON.stringify(productos) %>')">
                                <option value disabled selected>Elige el orden</option>
                                <option value="highPrice">Mayor precio </option>
                                <option value="lowPrice">Menor precio</option>
                                <option value="accesories">Accesorios </option>
                                <option value="cell">Celulares </option>
                            </select>
                        </label>
                </section>
                <section class="product-conteiner">
                    <% for( let i=0; i < productos.length; i++ ) { %>
                            <div class="product" key="<%= productos[i].id_product %>">
                                <img src="/images/celulares/<%= productos[i].image %>" alt="<%= productos[i].nombre %>" 
                                    class="smartphone">
                                <h2 class="tittle-for-product">
                                    <%= productos[i].name %>
                                </h2>
                                <p>$<%= productos[i].price %>
                                </p>
                            </div>
                        <% } %>
                </section>
            </main>
            <script src="/js/productsFilter.js">
            </script>
            <%- include('./partials/footer') %>
    </body>

    </html>