<%- include('./partials/head') %>

<link rel="stylesheet" href="/css/productCart.css">
</head>

<body>

  <%- include('./partials/header') %>

  <main>
    <section>

      <div class="cartbody">
        <div class="cartmain">
          <div class="headercarrito">
            <h2>Productos seleccionados</h2>
          </div>

          <div class="carrito-container">
            <% let totalCompra=0; %>
            <% let i=0; %> <% let c=0; %> 
            <% productos.forEach(item=> { %>
            <div class="product">
              <% if (item) { %>
                <img src="/images/celulares/<%= item.image %>" alt="<%= item.name %>">
                <div>
                  <h3><%= item.name %></h3>
                  <p>Precio: $<%= item.price %></p>
                  <p>Cantidad: <input type="number" min="0" value="<%= cantidad[c] %>"></p>
                  <p>Total: $<%= item.price * cantidad[c] %></p>
                </div>
              <% } else { %>
                <p>Producto no disponible</p>
              <% } %>
              <form action="/usuario/carrito/<%= datos[i] %>" method="POST">
                <button type="submit">Eliminar</button>
              </form>
            </div>

            <% if (item) { %>
              <% totalCompra +=item.price * cantidad[c]; %>
            <% } %>
            <% i++; %> <% c++; %>
            <% }); %>
          </div>
        </div>

        <!-- Resumen de la compra -->
        <div class="cartside">
          <div class="resumen">
            <h2>Resumen de Compra</h2>
          </div>
          <div class="resumen-compra">
            
            <div class="cartTable">
              <table>
                <tr>
                  <th>Cantidad</th>
                  <th>Producto</th>
                  <th>Precio Unitario</th>
                  <th>Total</th>
                </tr>
                <%  let total= 0 %>
                <%  let total2= 0%>
                <% let f=0; %>
                <% productos.forEach(item=> { %>
                  <% if (item) { %>
                    <tr>
                      <td><%= cantidad[f] %></td>
                      <td><%= item.name %></td>
                      <td>$<%= item.price %></td>
                      <% total= item.price * cantidad[f]%>
                      <td>$<%= total %></td>
                    </tr>
                    <%totalCompra= totalCompra + total %>
                  <% } %>
                  <% f++; %>
                <% }); %>
                <tr>
                  <td colspan="3">TOTAL</td>
                  <td>$<%= totalCompra / 2 %></td>
                </tr>
              </table>
            </div>

            <form>
              <div class="select-container">
                <select name="formaDePago" id="formaDePago">
                  <option disabled selected>Formas de Pago</option>
                  <option value="1">Tarjeta de crédito</option>
                  <option value="2">Tarjeta de débito</option>
                  <option value="3">Efectivo</option>
                  <option value="4">Billetera virtual</option>
                </select>
              </div>

              <div class="container">
                <button class="comprar">Comprar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer') %>

</body>

</html>