<%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    </head>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="registerContainer">

                    <form action="/usuario/registro" method="POST" class="registerForm" enctype="multipart/form-data"
                        id="form">
                        <h1>Creá tu cuenta</h1>
                        <div class="content">
                            <label for="name" class="formText">Nombre y Apellido: </label>
                            <input type="text" name="name" placeholder="Ingresá tu nombre y apellido"
                                class="formBarRegister" value="<%=locals.old ? old.name : null %>" id="name">
                            <div class="Error" id="nameError"></div>

                            <label for="email" class="formText"> E-mail: </label>
                            <input type="email" name="email" placeholder="Ingresá tu e-mail" class="formBarRegister"
                                value="<%=locals.old ? old.email : null %>" id="email">
                            <div class="Error" id="emailError"></div>

                            <label for="phone" class="formText"> Celular: </label>
                            <input type="tel" name="phone" placeholder="Ingresá tu número celular"
                                class="formBarRegister" value="<%=locals.old ? old.phone : null %>" id="phone">
                            <div class="Error" id="phoneError"></div>

                            <label for="image" class="formText">(Opcional) Agregá una foto de perfil</label>
                            <input type="file" name="image" accept=".jpg, .png" class="formBarRegister"
                                id="image"></input>
                            <div class="Error" id="imageError"></div>

                            <label for="password" class="formText"> Contraseña: </label>
                            <input type="password" name="password" placeholder="Ingresá una Contraseña"
                                class="formBarRegister2" id="password">
                            <div class="Error2" id="passwordError"></div>

                            <label for="password" class="formText"> Ingresa la contraseña nuevamente: </label>
                            <input type="password" name="passwordConfirm" placeholder="Confirma tu contraseña"
                                class="formBarRegister2" id="password2">
                            <div class="Error2" id="passwordError2"></div>

                            <% if (locals.errors) { errors.forEach(error=> { %>
                                <p class="errorMessageRegister">
                                    <%= error.msg%>
                                </p>
                                <%}) }%>

                                    <div class="buttonRegister">
                                        <button type="submit" class="formButtonRegister"
                                            id="formButton1">Enviar</button>
                                        <button type="reset" class="formButtonRegister" id="formButton2">Borrar</button>
                                    </div>
                        </div>
                </div>
            </main>
            <%- include('./partials/footer') %>
                <script src="/js/userRegister.js"></script>
    </body>

    </html>