<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <link rel="stylesheet" href="/css/succesBuy.css">
    </head>
        <main class="conteiner">
            <div>
        <h2>Tu compra ha sido exitosa</h2>
        <h3>Muchas Gracias <%= nameUser %></h3>
        <button onclick="getPdf('<%= JSON.stringify(factura) %>')">
            Descargar Comprobante
        </button>
    </div>
    </main>
    <script>
        function getPdf(invoice) {
            let dataFactura = JSON.parse(invoice)
            if (Array.isArray(dataFactura)) {
                let query = '';
                for (let i = 0; i < dataFactura.length; i++) {
                    query += `id${dataFactura[i].id_invoice}`;
                }
                location.href = `http://localhost:3030/comprobante/${query}`;
            } else if (typeof dataFactura === "object") {
                location.href = `http://localhost:3030/comprobante/id${dataFactura.id_invoice}`;
            }
        }

    </script>
<%- include('./partials/footer') %>
