<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <link rel="stylesheet" href="/css/succesBuy.css">
    </head>
        <main class="conteiner">
            <div>
        <h2>Tu compra ha sido exitosa</h2>
        <h3>Muchas Gracias <%= nameUser %></h3>
        <button onclick="getPdf('<%= JSON.stringify(factura) %>')">
            Descargar Comprobante
        </button>
    </div>
    </main>
    <script>
        function getPdf(data) {
            let dataFactura = JSON.parse(data)
            console.log(dataFactura.id_invoice);
            location.href = `http://localhost:3030/comprobante/${dataFactura.id_invoice}`
        }

    </script>
<%- include('./partials/footer') %>
